<div ng-controller="homeControl" class="container">
	<div class="row">
		<h1>Demo</h1>
		<h1>Login</h1><br>
	</div>
	<h3 ng-bind="errors">{{errors}}</h3>
	<div class="row">
		<form ng-submit="login()">
			<div class="col-xs-4">
				<div class="input input-group-lg">
					<input type="text" class="form-control" ng-model="reqUser.email" placeholder="Email">
					<input type="password" class="form-control" ng-model="reqUser.password" placeholder="Password"><br>
					<input type="submit" class="btn btn-primary" value="Login" id = "largebtn"><br><br>
				</div>
				<p class="center"><a href="#/register">Don't have an account? Sign up here</a></p>
			</div>
		</form>
	</div>
</div>