<div ng-controller="roomControl" class="container">
	<h1>Room: {{room.name}}</h1>
	<div id="player"></div>
	<youtube height="390" width="640" videoId="{{room.video}}"></youtube>
	<div ng-controller="createControl">
		<h2>Pick Another Video</h2>
		<input type="text" placeholder="Search Video" ng-model="video"><button ng-click= 'searchVideo()'>Search</button><br>
		<h5><a href="#/dashboard">Go back to Dashboard</a></h5>
		<div class="row">
			<h2 ng-if="videos.length>0">Choose a video</h2>
			<form ng-repeat="videoItem in videos track by $index" class="col-xs-6" ng-if="videoItem.id.videoId" ng-submit="updateVid(videos[$index])">
				<h3 class="videotitle">{{videoItem.snippet.title}}</h3>
				<img class="center" ng-src="https://img.youtube.com/vi/{{videoItem.id.videoId}}/0.jpg"><br><br>
				<p class="videotitle">Description: {{videoItem.snippet.description}}</p><br>
				<input type="submit" class="btn btn-success" value="Choose this video" id = "largebtn"><hr>
			</form>	
		</div>
	</div>
</div>