<div ng-controller="regControl" class="container">
	<div class="row">
		<h1>Register</h1><br>
	</div>
	<h3 ng-repeat="error in errors">{{error}}</h3>
	<div class="row">
		<form ng-submit="register()">
			<div class="col-xs-4">
				<div class="input input-group-lg">
					<input type="text" class="form-control" ng-model="newUser.alias" placeholder="Username"><br>
					<input type="text" class="form-control" ng-model="newUser.email" placeholder="Email"><br>
					<input type="password" class="form-control" ng-model="newUser.password" placeholder="Password"><br>
					<input type="password" class="form-control" ng-model="newUser.checkpassword" placeholder="Confirm Password"><br>
					<input type="submit" class="btn btn-success" value="Register" id = "largebtn"><br><br>
				</div>
				<p class="center"><a href="#/">Back to Login</a></p>
			</div>
		</form>
	</div>
</div>